* { box-sizing: border-box; }

html, body, #app, .content {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

header.main-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 70px;
  border-bottom: 1px solid #e5e5e2;
  box-shadow: 1px 1px 5px #d5d5d2;
  padding: 15px 25px;
  width: 100%;

  .brand {
    color: $font_color;
    font-size: 1.2rem;
    font-weight: 600;
  }

  img {
    width: 140px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  color: $font_color;
  text-shadow: 1px 1px white;

  a {
    color: $link_color;
    text-decoration: none;
  }
}

.btn, a.btn {
  color: $font_color;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid $font_color;
  border-radius: 5px;
  padding: 9px 15px;

  &:hover {
    color: #333;
    border-color: #333;
  }
}

.text-center { text-align: center; }
