@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Ubuntu');

* { box-sizing: border-box; }

html, body, #app, .content {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

header.main-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2F3336;
  height: 70px;
  border-bottom: 1px solid #242728;
  // box-shadow: 1px 1px 10px #111;
  padding: 15px 25px;
  width: 100%;

  .brand {
    color: lighten($font_color, 10%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
  }

  img {
    width: 140px;
  }
}

.content {
  background-color: $bg;
  color: $font_color;
  text-shadow: -1px -1px #111;
  padding-top: 70px;

  .page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
  }

  .page-common {
    margin: auto;
    padding: 60px 0;
  }

  a {
    color: $link_color;
    text-decoration: none;
    text-shadow: none;

    &:hover {
      color: darken($link_color, 5%);
    }
  }
}

.btn, a.btn {
  color: $font_color;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid $font_color;
  border-radius: 5px;
  padding: 9px 15px;

  &:hover {
    color: lighten($font_color, 10%);
    border-color: lighten($font_color, 10%);
  }
}

.text-center { text-align: center; }

.alert {
  position: absolute;
  top: 100px;
  right: 20px;
  line-height: 1.6;
  text-shadow: none;
  padding: 20px 20px;
  max-width: 400px;
  border-radius: 5px;

  &.alert-error {
    background-color: #db2525;
    color: white;
  }
}

.pagination {
  margin-top: 15px;
  text-align: right;

  > a {
    padding: 5px;

    &.page.current {
      color: white;
      font-weight: bold;
    }
  }
}
