@import "variables";
@import "common";

.loading-page {
  text-align: center;

  p {
    font-size: 1.1rem;
    margin-top: 30px;
  }
}

.home-page {
  .session {
    text-align: center;
  }
  h1 {
    font-size: 1.2rem;
    margin-bottom: 60px;
  }
}

.assistance-page {
  max-width: 850px;

  .enqueued p {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .paired {
    display: flex;

    .chat {
      position: relative;
      background: #2f3336;
      min-width: 380px;
      margin-left: 50px;
      border: 1px solid darken($font_color, 15%);
      // border-radius: 5px;
      box-shadow: 3px 3px 10px #111;

      .header {
        font-size: 0.9rem;
        padding: 10px;
        border-bottom: 1px solid darken($font_color, 15%);
      }

      .messages {
        padding: 10px 10px 40px;
        height: 400px;
        overflow-y: scroll;
      }

      .message {
        margin-bottom: 20px;
        font-size: 0.9rem;

        .participant {
          font-weight: bold;
        }

        .text {
          margin-top: 5px;
        }
      }

      textarea {
        position: absolute;
        bottom: 0;
        background: #2f3336;
        color: $font_color;
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        border: none;
        border-top: 1px solid darken($font_color, 15%);
      }
    }
  }

  .intro {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  .footnote {
    line-height: 1.4;
  }

  .partner {
    display: flex;
    align-items: flex-start;
    max-width: 450px;
    margin-bottom: 30px;

    .partner-info {
      padding: 10px;
      margin-left: 20px;

      .partner-name {
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
      }

      .partner-github {
        display: block;
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 5px;
      }
    }

    img {
      width: 120px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .notification {
    opacity: 0.7;
    background: #2f3336;
    font-size: 0.9rem;
    padding: 7px;
    margin-top: 30px;
    border: 1px solid darken($font_color, 15%);
    border-radius: 3px;
  }
}

.feedback-page {
  margin: auto;

  .form-group {
    margin-bottom: 25px;

    &.has-error {
      textarea,
      input[type="text"] {
        border-color: red;
      }
    }

    .error-help {
      display: block;
      color: red;
      font-size: 0.9rem;
      margin-top: 3px;
    }
  }

  .rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 300px;

    .rating-star {
      font-size: 1.8rem;
      cursor: pointer;

      &.highlighted {
        color: $link_color;
      }
    }
  }

  label {
    display: block;
    color: lighten($font_color, 10%);
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  textarea {
    background: #2f3336;
    color: $font_color;
    font-size: 1rem;
    width: 600px;
    padding: 10px;
    border: 1px solid darken($font_color, 15%);
    border-radius: 5px;
  }

  button {
    background: transparent;
    font-size: 1rem;
    padding: 7px 25px;
    border-radius: 5px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.participants-page {
  .searchForm {
    text-align: right;
    margin-bottom: 10px;

    input.search {
      background: #2f3336;
      color: $font_color;
      font-size: 1rem;
      padding: 10px;
      width: 350px;
      border: 1px solid darken($font_color, 15%);
      border-radius: 5px;
    }
  }

  table {
    background: white;
    border-collapse: collapse;
    text-shadow: none;
    color: #333;

    th,
    td {
      border: 1px solid #ccc;
      padding: 5px 10px;
      margin: 0;

      img {
        width: 60px;
      }
    }
  }
}
